{% extends "./base.html" %}

{% load static %}

{% block contents %}
<div class="container">
    <h1>개인정보 수정</h1><br>

    <br>
    <br>
    <h4>알레르기가 있거나 먹기 싫은 재료를 수정하세요</h4>
    <br>
    <br>


            

            <!-- Begin page content -->
            <main class="flex-shrink-0">
                <form method = 'post'>
                    {% csrf_token %}    
                    <input name='hate_ingredients' class='some_class_name'  placeholder='ex) 돼지고기,소고기...' id='sample' value = "{% for h in hate%}{% if not forloop.first %}, {%endif%}{{h}}{% endfor %}">
                    {% comment %} <input value='css, html, javascript'>
                    <input type = 'text' name='input-custom-dropdown' class='some_class_name' placeholder='ex) 돼지고기,소고기...' id='sample'> {% endcomment %}
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg">수정하기</button>
                </form>


                {% comment %} <input name='input-custom-dropdown' class='some_class_name' placeholder='ex) 돼지고기,소고기...' id='sample'>
                <input value='css, html, javascript'> {% endcomment %}
            </main> 

            <script src="https://unpkg.com/@yaireo/tagify"></script>

            <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>

            <script>
                var input = document.querySelector('input#sample'),
                    // init Tagify script on the above inputs
                    tagify = new Tagify(input, {
                        enforceWhitelist: true,
                        whitelist: [{% for h in hate%}{% if not forloop.first %}, {%endif%}"{{h}}"{% endfor %}],
                        maxTags: 10,
                        dropdown: {
                            maxItems: 20,           // <- mixumum allowed rendered suggestions
                            classname: "tags-look", // <- custom classname for this dropdown, so it could be targeted
                            enabled: 0,             // <- show suggestions on focus
                            closeOnSelect: false    // <- do not hide the suggestions dropdown once an item has been selected
                        }
                    })

                /* Event Listner */

                tagify.on('add', onAddTag)
                    .on('remove', onRemoveTag)
                    .on('input', onInput)
                    .on('edit', onTagEdit)
                    .on('invalid', onInvalidTag)
                    .on('click', onTagClick)
                    .on('focus', onTagifyFocus)
                    .on('blur', onTagifyBlur)
                    .on('dropdown:hide dropdown:show', e => console.log(e.type))
                    .on('dropdown:select', onDropdownSelect);




                // tag added callback
                function onAddTag(e) {
                    console.log("onAddTag: ", e.detail);
                    console.log("original input value: ", input.value)
                    tagify.off('add', onAddTag) // exmaple of removing a custom Tagify event
                }

                // tag remvoed callback
                function onRemoveTag(e) {
                    console.log("onRemoveTag:", e.detail, "tagify instance value:", tagify.value)
                }

                function getIngrementByText(text) {
                    return fetch("http://127.0.0.1:8000/api/ingredient/?ingredient=" + text);
                }


                // on character(s) added/removed (user is typing/deleting)
                function onInput(e) {
                    // input 태그에 글자가 입력되었을 때 발생하는 이벤트 
                    console.log(e);
                    console.log("onInput: ", e.detail);
                    tagify.whitelist = null; // reset current whitelist
                    tagify.loading(true) // show the loader animation

                    // get new whitelist from a delayed mocked request (Promise)
                    getIngrementByText(e.detail.value).then(function (resp) {
                        return resp.json();
                    }).then(function (data) {
                        var whiteList = data.map(function (item) {
                            return item.fields.ingredients;
                        })
                        console.log(data);
                        console.log(whiteList)
                        tagify.settings.whitelist = whiteList;
                        tagify.loading(false).dropdown.show(e.detail.value);
                    })

                    //             fields:
                    // ingredients: "마늘잎"
                    // [[Prototype]]: Object
                    // model: "home.ingredient"
                    // pk: 26

                    // mockAjax()
                    //     .then(function (result) {
                    //         tagify.settings.whitelist = result.concat(tagify.value) // add already-existing tags to the new whitelist array

                    //         tagify
                    //             .loading(false)
                    //             // render the suggestions dropdown.
                    //             .dropdown.show(e.detail.value);
                    //     })
                    //     .catch(err => tagify.dropdown.hide())
                }

                function onTagEdit(e) {
                    console.log("onTagEdit: ", e.detail);
                }

                // invalid tag added callback
                function onInvalidTag(e) {
                    console.log("onInvalidTag: ", e.detail);
                }

                // invalid tag added callback
                function onTagClick(e) {
                    console.log(e.detail);
                    console.log("onTagClick: ", e.detail);
                }

                function onTagifyBlur(e){
                    console.log(e.type, "event fired");
                    console.log(e)
                }

                function onTagifyFocus(e) {
                    console.log(e.type, "event fired")
                    tagify.whitelist = null; // reset current whitelist
                    tagify.loading(true) // show the loader animation

                    // get new whitelist from a delayed mocked request (Promise)
                    getIngrementByText('').then(function (resp) {
                        return resp.json();
                    }).then(function (data) {
                        var whiteList = data.map(function (item) {
                            return item.fields.ingredients;
                        })
                        console.log(data);
                        console.log(whiteList)
                        tagify.settings.whitelist = whiteList;
                        tagify.loading(false).dropdown.show(e.detail.value);
                    })
                }

                function onDropdownSelect(e) {
                    console.log("onDropdownSelect: ", e.detail)
                }
            </script>
</div>

{% endblock %}
