
{% extends 'base.html' %}

{% block contents %}
<div class="container">
    <h1>Sign up</h1>

    {% if error %}

    <div class="alert alert-warning" role="alert">
        {{error.message}}
    </div>

    {% endif %}

    <form action="/accounts/signup/" method="POST">
        {% csrf_token %}
        아이디:
        <br>
        <input name="username" type="text">
        <br>
        비밀번호:
        <br>
        <input name="password1" type="password">
        <br>
        비밀번호 확인:
        <br>
        <input name="password2" type="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="next">
    </form>

   
</div>
{% endblock %}
